html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#loading{
    position: fixed;
      width: 100%;
    height: 100vh;
    z-index: 99999;
    
}
#loading img{
  width: 100%;
    height: 100vh;
}
#slider
{
    width: 100%;
}
.carousel-caption
{
  top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}
.carousel-caption h5
{
color: aliceblue;
    font-size: 45px;
    font-family: fantasy;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.navbar-brand img{
    height: 41px;
    padding-left: 30px;
    
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a:hover
{
    float:left;
    text-align: right;
    background-color: aliceblue !important;
    color: darkmagenta !important;
}
.nav-link{
    color: aliceblue !important;
}
.navbar-toggler{
    border: none! important;
}
.nav-link
{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
#services{
    background-color: aliceblue;
}
#services .card:hover{
cursor: pointer;
    border: 1px solid black;
    background-color: cadetblue;
    color: azure;
    transition: 0.5s;
}
#team{
    background-color: beige;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile img{
    top: -80px;
    margin-left: -65px;
    position: absolute;
    left: calc(50% -60px);
     border-color: 10px solid pink;
   
}
.profile h3{
    font-size: 20px;
    color: #007bff;
    margin-top: 15px;
}
#team span{
    font-size: 12px;
    color: #333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
#about{
    background-color: floralwhite;
}
#gallery{
    background-color: cornsilk;
}
#gallery img:hover{
   box-shadow: 0px -9px 58px 10px rgba(7,83,235,1);
    transition: 0.5s;
    zoom:2;
    border: 1px solid pink;
}
#aboutus{
    background-color: azure;
}
#contact{
   background: linear-gradient(350deg, #16c9f6 55%,#fff 0%);
    padding-bottom: 41px;
    padding-top: 41px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}
.follow{
    padding: 15px;
    background: #efefef;
}
.contact-form{
    background: #efefef;
}
.contact-info .fa{
    margin: 16px;
    font-size: 25px;
    font-weight: bold;
    color: #007bff;
}
#gallery h1:hover{
    transition: transform 1s;
    transform: rotate(360deg);
}
#about  h1:hover{
    transition: transform 1s;
    transform: rotate(360deg);
}

#aboutus  h1:hover{
    transition: transform 1s;
    transform: rotate(360deg);
}
#team  h1:hover{
    transition: transform 1s;
    transform: rotate(360deg);
}
#contact  h1:hover{
    transition: transform 1s;
    transform: rotate(360deg);
}

blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
   content: '\93';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -10px;
}
blockquote::after{
   content: '\94';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px;
}
#comment{
  background: linear-gradient(90deg, rgba(0,31,36,0.7483368347338936) 2%, rgba(4,154,201,0.7707457983193278) 40%, rgba(121,9,60,0.7175245098039216) 64%, rgba(80,157,180,0.958420868347339) 78%, rgba(222,0,255,0.7651435574229692) 92%);
}
.batman{
    width: 100%;
    height: 100px;
    position: relative;
}
.batman img{
    position: absolute;
   
    width: 150px;
    height: 100px;
    animation-name: batman;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
@keyframes batman{
    from{
        left: 0;
    }
    to{
        left: 90%;
    }
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
      
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #555; 
  color: white;
  cursor: pointer;
  padding: 15px; 
  border-radius: 15px; 
}
#myBtn .fa{
   font-size: 50px;  
}

#myBtn:hover {
  background-color: cadetblue; 
}































